nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 50%;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
}

.header{
    background-color: #dbeafe;
    padding: 2rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dbeafe;
    height: 100px;
    padding: 2rem;
}


.sideBar li{
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    font-weight: bold;
}

.sideBar {
    display: flex;
    background-color: #dbeafe;
}

.aside h2{
    margin-bottom: 1.5rem;
}

.aside{
    /* padding: 1.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.activeClass{
    color: blue;
}
